*{
    font-family: 'PT Sans Narrow', sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #19181D;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;

}

.logo{
    float: left;
    color: white;
    font-size: 22px;
    line-height: 80px;
    padding: 0 6em;
    letter-spacing: 2px;
}

.menu{
    float: right;
    line-height: 50px;
    margin: 0 6em;
}

.menu ul{
    list-style: none;
}

.menu ul li{
    display: inline-block;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: lighter;
    padding: 0 20px;
}

.container{
    width: 100px;
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    left: 2%;
}

.container a{
    writing-mode: vertical-lr;
    display: inline;
    text-decoration: none;
    color: white;
    font-weight: lighter;
    padding: 15px;
    word-spacing: 2px;
    letter-spacing: 1.2px;
    transform: rotate(180deg);

}

.circle{
    height: 550px;
    width: 550px;
    border-radius: 60%;
    background: linear-gradient(#313247 0%, #19181D 30%);
    position: absolute;
    top: 20%;
    left: 30%;
}

.circle:before, .circle:after{
    content: '';
    height: 550px;
    width: 550px;
    background: linear-gradient(#FFD1DA 0%, #FF849D 5%, #2D2133 25%);
    border-radius: 60%;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-filter: blur(7px);
    z-index: -1;
}

.circle:after{
    width: 565px;
    top: 35%;
    -webkit-filter: blur(14px);
    opacity: .3;
}

.message{
    font-size: 12px;
    color: #1985a1;
    letter-spacing: 10px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.msg{
    font-size: 30px;
    font-weight: bold;
    color: white;
    letter-spacing: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .star{
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    pointer-events: none;
}

section .star.star1{
    background: url("assets/star1.png");
}
